.c-article{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: rem(16px) rem(8px) 0;

    @include mq(phone-large){
        padding-top: rem(32px);
    } 
}

.c-article__info{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;

    line-height: 1.3;
    font-size: rem(24px);
    max-width: rem(472px);
    margin: rem(8px);  

    @include mq(tablet){
        font-size: rem(32px);
    }
}

.c-article__info--right{
    justify-self: end;
    align-items: flex-end;
    text-align: right;
}

.c-article__image{

    align-self: flex-end;

    min-width: rem(680px) * 0.4;
    min-height: rem(424px) * 0.4;
    margin: rem(8px) rem(8px) 0; 

    @include mq(tablet){
        width: rem(680px) * 0.9;
        height: rem(424px) * 0.9;
    }

    @include mq(tablet-large){
        width: rem(680px);
        height: rem(424px);
    }
}

.c-article__title{
    font-weight: 700;
}

.c-article__description{
    font-family: $font-stack-beta;
}


