.c-footer{
    margin-top: rem(96px);
}

.c-footer__content{
    max-width: map-get($breakpoints, tablet-large);
    margin: auto;
    padding: rem(32px) rem(8px) rem(24px);

    @include mq(phone-large){
        padding: rem(48px) rem(8px) rem(28px);
    }
}

.c-footer__logo{
    cursor: pointer;
    height: rem(48px);
    margin: 0 rem(32px) rem(40px) rem(8px) ;
}

.c-footer__social-icon{
    fill: none;
    stroke: #fff;
    width: rem(48px);
    height: rem(48px);
    margin: 0 rem(8px) rem(40px);
    cursor: pointer;
}

.c-footer__text{
    font-weight: 700;
}

.c-footer__row{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include mq(phone-large){
        justify-content: space-between;
    }
}

.c-footer__rights{
    margin: rem(8px);
}

.c-footer__link{
    all: unset;
    cursor: pointer;
    font-size: 16;
    color: white;
    margin: rem(8px);
}
