.c-footer{
    margin-top: rem(96px);
    padding: rem(32px) rem(16px) rem(24px);

    @include mq(phone-large){
        padding: rem(48px) rem(32px) rem(28px);
    }
}

.c-footer__content{
    max-width: map-get($breakpoints, tablet-large);
    margin: auto
}

.c-footer__logo{
    cursor: pointer;
    height: rem(48px);
    margin: 0 rem(32px) rem(40px) 0 ;
}

.c-footer__social-icon{
    fill: none;
    stroke: #fff;
    width: rem(48px);
    height: rem(48px);
    margin-bottom: rem(40px);
    cursor: pointer;
}

.c-footer__social-icon + .c-footer__social-icon{
    margin-left: rem(24px);
}

.c-footer__text{
    font-weight: 700;
}

.c-footer__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: rem(8px);

    @include mq(phone-large){
        justify-content: space-between;
    }
}

.c-footer__link{
    all: unset;
    cursor: pointer;
    font-size: 16;
    color: white;
    
}

.c-footer__link  + .c-footer__link{
margin-left: rem(16px); 
}
