.c-screencast{
    width: 800px;
    height: 300px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: rem(32px);

    @include mq(phone-large){
        height: 400px;
    }

    
}