html {
  background: map-get(map-get($palettes, color-neutral), 100);
  font-family: $font-stack-alpha;
  font-size: rem($base-font-size);
  line-height: 1.5;
  box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
  font: #{ $base-font-size }/#{ $base-line-height } $font-stack-alpha;
  color: map-get(map-get($palettes, color-neutral), 900);
}